
  .my-heart-full {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient($rose, $violet);
    -webkit-background-clip: text;
    background-clip: text;
     &:hover {
      opacity: 1;
      background-position: 0% 100%;
      background-image: linear-gradient($rose, $violet);
      transition: opacity 1s ease-in-out;
    }
  }
  
  
  .fa-heart {
    position: absolute;
    cursor: pointer;
    font-size: 1.10em;
  }
  